/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */

:root {
  --green: #1db954;
  --button-radius: 30px;
}

html,
body {
  background-color: black;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: "asimov-regular", sans-serif;
  overflow: hidden;
}

.selected1 {
  border: 3px solid greenyellow;
  background-color: rgba(188, 188, 188, 0.617);
}

.selected2 {
  border: 3px solid orangered;
  background-color: rgba(245, 53, 53, 0.81);
}

.selected3 {
  background-color: rgb(223, 245, 53);
}

.selected4 {
  background-color: rgb(146, 245, 53);
}

/* margin-left: auto; */
/* margin-top: auto; */
/* margin: auto 0; */

/* -------------------------------------------------------------------------- */
/*                                    LOGIN                                   */
/* -------------------------------------------------------------------------- */

.page {
  height: calc(100vh - 120px);
  margin: 60px;
  position: relative;
}

.logo-box {
  width: 342px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  text-align: center;
}

.logo-img {
  width: 342px;
  height: 117px;
  margin-bottom: 30px;
}

.button {
  border: none;
  padding: 10px 50px;
  text-align: center;
  cursor: pointer;
}

.immovable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.button.small {
  font-size: 15px;
  border-radius: var(--button-radius);
  padding: 10px 30px;
}
.button.medium {
  font-size: 25px;
  border-radius: var(--button-radius);
}

/* .button.large {
} */

.button.green {
  background-color: var(--green);
  color: white;
}

.button.white {
  background-color: white;
  color: black;
}

.hidden {
  visibility: hidden;
}

.info-icon {
  visibility: visible;
  color: #ffffff;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.row {
  display: flex;
  /* Vertically Center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column {
  flex: 50%;
  height: 500px; /* calc(100vh - 500px); */
  display: table;
}

.stack {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* overflow: hidden; */
  /* position: relative; */
  border-radius: 50%;
  border: 5px solid var(--green);
  margin-bottom: 30px;
}

.textbox {
  border: none;
  padding: 10px 30px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  font-family: inherit;
  border-radius: var(--button-radius);
}

.logout {
  visibility: visible;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  /* TODO:  */
  /* font-size: 15px; */
}
