/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */

:root {
  --green: #1db954;
  --button-radius: 30px;
  --button-radius-large: 60px;
  --shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
}

html,
body {
  background-color: black;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: "asimov-regular", sans-serif;
  overflow: hidden;
  user-select: none;
}

.selected1 {
  border: 3px solid greenyellow;
  background-color: rgba(188, 188, 188, 0.617);
}

.selected2 {
  border: 3px solid orangered;
  background-color: rgba(245, 53, 53, 0.81);
}

.selected3 {
  background-color: rgb(223, 245, 53);
}

.selected4 {
  background-color: rgb(146, 245, 53);
}

/* margin-left: auto; */
/* margin-top: auto; */
/* margin: auto 0; */

/* -------------------------------------------------------------------------- */
/*                                    LOGIN                                   */
/* -------------------------------------------------------------------------- */

.page {
  height: calc(100vh - 120px);
  margin: 60px;
  position: relative;
}

.logo-box {
  width: 342px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  text-align: center;
}

.logo-img {
  width: 342px;
  height: 117px;
  margin-bottom: 30px;
}

.button {
  border: none;
  padding: 10px 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.immovable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h5 {
  /* For Buttons */
  margin-top: 0;
  margin-bottom: 0;
}

.button.small {
  font-size: 15px;
  border-radius: var(--button-radius);
  padding: 10px 30px;
}
.button.medium {
  font-size: 25px;
  border-radius: var(--button-radius);
}

.button.green {
  background-color: var(--green);
  color: white;
}

.button.white {
  background-color: white;
  color: black;
}

.invisible {
  visibility: hidden;
}

.info-icon {
  visibility: visible;
  color: #ffffff;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.row {
  display: flex;
  /* Vertically Center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column {
  flex: 50%;
  height: 500px; /* calc(100vh - 500px); */
  display: table;
}

.stack {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* overflow: hidden; */
  /* position: relative; */
  border-radius: 50%;
  border: 5px solid var(--green);
  margin-bottom: 30px;
}

.divider {
  background-color: white;
  width: 2px;
  height: 500px;
}

.textbox {
  border: none;
  padding: 10px 30px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  font-family: inherit;
  border-radius: var(--button-radius);
}

.logout {
  visibility: visible;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                    START                                   */
/* -------------------------------------------------------------------------- */

.title {
  font-size: 70px;
  /* font-family: "asimov-pro-bold"; */
}

h2,
h3 {
  /* For Questions */
  margin-top: 0;
  margin-bottom: 0;
}

input[type="radio"] {
  color: var(--green);
}

.button.large {
  font-size: 60px;
  border-radius: var(--button-radius-large);
}
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-label {
  display: inline-block;
  padding: 1em 1.5em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: var(--button-radius);
  background: white;
  color: black;
  box-shadow: var(--shadow);
  /* transition: 0.3s; */
  user-select: none;
}

.radio-label:checked + .button-label {
  background: var(--green);
  color: white;
}

input[type="number"] {
  font-size: 30px;
  font-family: inherit;
  margin: 0.3em;
  width: 80px;
  /* border-radius: var(--button-radius); */
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type="checkbox"] {
  margin: 0.3em;
}

.checkbox-wrap {
  margin-top: 0.8em;
  margin-left: 0.2em;
}

.hidden {
  display: none;
}

.subtext {
  color: rgba(255, 255, 255, 0.218);
  margin-top: 0;
  margin-bottom: 0;
}
