/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */

:root {
  --green: #1db954;
  --gray: #ffffff64;
  --dark-gray: #07021f;
  --gray-1: #424142;
  --gray-2: #282828;
  --button-radius: 30px;
  --button-radius-large: 60px;
  --shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
}

html,
body {
  background-color: black;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: "asimov-regular", sans-serif;
  overflow: hidden;
  user-select: none;
}

// * {
//   margin: 0;
//   padding: 0;
// }

.basic-white-opacity {
  color: #ffffff;
  opacity: 40%;
}

.basic-hover-effect {
  transition: 1s;
  opacity: 100%;
  scale: 1.1;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    LOGIN                                   */
/* -------------------------------------------------------------------------- */

.page {
  height: calc(100vh - 120px);
  margin: 60px;
  position: relative;
}

.logo-box {
  width: 342px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  text-align: center;
}

.logo-img {
  width: 342px;
  height: 117px;
  margin-bottom: 30px;
}

.button {
  border: none;
  padding: 10px 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.button:hover {
  @extend .basic-hover-effect;
}

.immovable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// TODO: fix fonts for everything

h5 {
  /* For Buttons */
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.button.small {
  font-size: 15px;
  border-radius: var(--button-radius);
  padding: 10px 30px;
}
.button.medium {
  font-size: 25px;
  border-radius: var(--button-radius);
}

.button.green {
  background-color: var(--green);
  color: white;
}

.button.red {
  background-color: red;
  color: white;
}

.button.white {
  background-color: white;
  color: black;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.info-icon {
  @extend .top-left;
  @extend .basic-white-opacity;
  @extend .visible;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.info-icon:hover {
  @extend .basic-hover-effect;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.vert-center-in-div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horiz-center {
  justify-content: center;
}

.flex-container-main {
  @extend .vert-center-in-div;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-item-main {
  @extend .glass-effect;
  width: 500px;
  height: 500px;
  margin: 5px;
  // line-height: 50px;
  // color: white;
  // font-weight: bold;
  // font-size: 2em;
  // text-align: center;
  @extend .horiz-center;
  display: flex;
  flex-direction: column;
  align-items: center; //
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-img {
  border-radius: 50%;
  cursor: pointer;
}

.profile-img.small {
  width: 32px;
  height: 32px;
  border: 2px solid var(--gray);
}

.profile-img.large {
  width: 200px;
  height: 200px;
  border: 1px solid var(--gray);
}

.navbar {
  @extend .top-right;
  text-align: center;
  display: flex;
  justify-content: center;
}

// .navbar-element {
//   margin-left: 20px;
// }

.navbar-element:hover {
  @extend .basic-hover-effect;
}

.logout {
  visibility: visible;
  display: block;
  cursor: pointer;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.button.gray {
  background-color: var(--gray);
  color: white;
}

/* -------------------------------------------------------------------------- */
/*                                   CREATE                                   */
/* -------------------------------------------------------------------------- */

.title {
  font-size: 70px;
  /* font-family: "asimov-pro-bold"; */
}

h2,
h3 {
  /* For Questions */
  margin-top: 0;
  margin-bottom: 0;
}

input[type="radio"] {
  color: var(--green);
}

.button.large {
  font-size: 60px;
  border-radius: var(--button-radius-large);
}

.button-label {
  display: inline-block;
  padding: 1em 1.5em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: var(--button-radius);
  background: white;
  color: black;
  box-shadow: var(--shadow);
  /* transition: 0.3s; */
  user-select: none;
}

.radio-label:checked + .button-label {
  background: var(--green);
  color: white;
}

sinput[type="number"] {
  font-size: 30px;
  font-family: inherit;
  margin: 0.3em;
  width: 80px;
  /* border-radius: var(--button-radius); */
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type="checkbox"] {
  margin: 0.3em;
}

.checkbox-wrap {
  margin-top: 0.8em;
  margin-left: 0.2em;
}

.hidden {
  display: none;
}

.subtext {
  color: rgba(255, 255, 255, 0.218);
  margin-top: 0;
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   PROFILE                                  */
/* -------------------------------------------------------------------------- */

.flex-container-profile {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-item-profile {
  @extend .glass-effect;
  width: 200px;
  height: 200px;
  margin: 10px;
  @extend .horiz-center;
  display: flex;
  flex-direction: column;
  align-items: center; //
}

/* -------------------------------------------------------------------------- */
/*                                    LOBBY                                   */
/* -------------------------------------------------------------------------- */

.user-group {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.username {
  padding: 20px;
}

.profile-img.medium {
  width: 80px;
  height: 80px;
  border: 2px solid var(--green);
}

.lobby-code {
  text-align: center;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                    JOIN                                    */
/* -------------------------------------------------------------------------- */

#code {
  font-size: 35px;
  width: 115px;
  height: 40px;
  font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/*                                   TOOLTIP                                  */
/* -------------------------------------------------------------------------- */

.dropbtn {
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: var(--gray-2);
  border-radius: 5px;
  border: 6px solid var(--gray-2);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  border-radius: 1px;
}

.dropdown-content a:hover {
  background-color: var(--gray-1);
}

.show {
  display: block;
}

.link {
  padding: 0;
  margin: 0;
}

.top-separator {
  border-top: 1px solid rgba(255, 255, 255, 0.236);
}
