.flex-container-main {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-x: auto;
  // min-height: 700px;
  // height: 700px;
  //
  align-items: center;
  flex: 1;
  justify-content: center;
}

.flex-item-main {
  min-height: 500px;
  min-width: 500px;
  width: 500px;
  height: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container-main::-webkit-scrollbar {
  // display: none;
}

.flex-item-main.side {
  // scale: 0.8;
}

.player-count {
  // width: 20px;
  // height: 20px;
  margin: 30px;
}
